<h2>Lists</h2>
  </br>
  <table class="table table-striped">
    <tr>
      <th></th>
      <th>List Name</th>
      <th>Last Updated</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="list in lists">
      <td styles="width:5%">
        <input type="checkbox"/>
      </td>
      <td style="width:70%">
        <a href="" ng-click="view(list._id)">{{list.name}}</a>
      </td>
      <td style="width:20%">
        <p>{{list.updated | date:'MM/dd/yyyy hh:mma'}}</p>
      </td>
      <td style="width:5%">
        <a class='glyphicon glyphicon-trash' ng-click="delete(list._id)"></a>
      </td>
    </tr>
  </table>

</br>
  <label>Add a new list: </label>
  <input type='text' class="form-control" ng-keypress='onEnter($event)' ng-model='newName' placeholder="List Name" style="width:200px;display:block;"/>
  <!-- <button class="btn" ng-click='createNew()'>+</button> -->
</br>
